td input, textarea {
  font-size: 14px;
}

.plus-button {
  background-color: green;
  border-radius: 3px;
  color: white;
}

.minus-button {
  background-color: red;
  border-radius: 3px;
  color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
