<table id="goal-display-table">
  <thead>
    <tr style="height: 50px;">
      <th align="left">Title</th>
      <th align="left">Status</th>
      <th align="left">Notes</th>
      <th align="left" style="min-width: 95px;">Start Date</th>
      <th align="left" style="min-width: 85px;">Due Date</th>
    </tr>
  </thead>
  <tbody>
  {{range .GoalDisplay}}
    <tr>
      <td align="left">{{.Title}}</td>
      <td align="left">{{.Status}}</td>
      <td align="left">{{.Notes}}</td>
      <td align="left">{{.StartDate}}</td>
      <td align="left">{{.DueDate}}</td>
    </tr>
  {{end}}
  </tbody>
</table>
